body {
background-color: tan;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align:center;
    color: olive;
}
.about{
    text-align: center;
    color: olive;
}
.skill{
    text-align: center;
    color: olive
}
.projects{
    text-align: center;
    color: olive;
}
.contact{
    text-align: center;
    color: olive;
}